body {
  padding-top: 70px;
}
canvas {
  border: 1px dotted black;
  display: block;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  float: left;
}
.toolbar {
  margin: 10px;
}
.gi-small {
  font-size: 0.8em;
}
.gi-extra-small {
  font-size: 0.6em;
}
.gi-red {
  color: red;
}
.gi-blue {
  color: blue;
}
.gi-green {
  color: green;
}
.toolbar > li {
  float: left;
}
